#bordering {
    border-image: url(../img/34018-5-love-frame-transparent-picture.png)30 round;
}



body {
    margin: 0;
    padding: 0;
    background: #f9e3ef;
    background-image: url(../img/34124-5-barbie-transparent-thumb.png);
    background-repeat: no-repeat;
    background-position: bottom;

    font-size: 24px;
    overflow: auto
}

#mainDiv {
    width: 100%;
    height: 100%
}

#loveHeart {
    float: left;
    width: 670px;
    height: 625px
}

#garden {
    width: 100%;
    height: 100%;
}

#elapseClock {
    text-align: right;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    ;
}

#words {
    font-family: "DollieScript";
    src: url('../font/DollieScriptPersonalUse-K3P7.ttf') format("script");
    width: 500px;
    font-size: 24px;
    color: #d3419d;
}

#messages {
    display: none;

}

#elapseClock .digit {
    font-family: "digit";
    font-size: 36px;

}

#loveu {
    padding: 5px;
    font-size: 22px;
    margin-top: 60px;
    margin-right: 120px;
    text-align: right;
    display: none
}

#loveu .signature {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
}

#clickSound {
    display: none;
}

#code {
    float: left;
    width: 440px;
    height: 400px;
    color: #7D93B0;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
    font-size: 17px;
}

#code .string {
    color: #B3DAEC;
}

#code .keyword {
    color: #FBD68F;
    font-weight: bold;
}

#code .placeholder {
    margin-left: 15px
}

#code .space {
    margin-left: 7px
}

#code .comments {
    color: #FF0B83;
}

#copyright {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    color: #666;
}

#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0;
}

#copyright a {
    color: #666;
}

body {
    height: 100%;
}

.wrapper {
    width: 100%;
    background: #f3f4f4;
    min-height: 100%;
    overflow: hidden;
    text-align: center;
}

.x1 {
    left: 5%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.6;
    -webkit-animation: moveclouds 15s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 25%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.9;
    -webkit-animation: moveclouds 25s linear infinite,
        sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite,
        sideWays 5s ease-in-out infinite alternate;
}

.x3 {
    left: 55%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite,
        sideWays 4s ease-in-out infinite alternate;
}

.x4 {
    left: 72%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.9;
    -webkit-animation: moveclouds 18s linear infinite,
        sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite,
        sideWays 0zs ease-in-out infinite alternate;
}

.x5 {
    left: 88%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 7s linear infinite,
        sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite,
        sideWays 1s ease-in-out infinite alternate;
}

.x6 {
    left: 33%;
    opacity: 1;
    -webkit-animation: moveclouds 2s linear infinite,
        swayWays 1s ease-in-out infinite alternate;
    animation: moveclouds 10s linear infinite,
        swayWays 9s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@keyframes moveclouds {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@-keyframes swayWays {
    0% {
        transform: rotate(12deg);
        left: -0.3%;
    }

    33% {
        transform: rotate(-2deg);
        left: 0.7%;
    }

    100% {
        transform: rotate(0deg);
        left: -12%;
    }
}

/* //  HEART CODE */
.altheart {
    background: url(http://static.indigoimages.ca/2016/shop/113439_img25_twotoneheart.png) no-repeat center;
    width: 24px;
    height: 21px;
    position: relative;
    display: block;
}

.heart {
    position: relative;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 18px;
    top: 0;
    width: 18px;
    height: 30px;
    background: #cc2022;
    -moz-border-radius: 20px 50% 0 0;
    border-radius: 30px 30px 0 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}